{% extends 'scheduling/base.html' %}
{% load static%}

{% block title%} Home {% endblock %}

{% block content%}
<!-- Masthead-->
<header class="masthead text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="{% static 'img/weschedule.png.png' %}" alt="" />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0"><center>Create a Schedule</center></h1>
        
    </div>
</header>
<h1>
    Home
</h1>
{% endblock %}