#main {
    padding-top: 74px;
}

@media (min-width: 992px) {
    #main {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
}

@font-face {
    font-family: "WeSchedule Font";
    src:
    url("fonts/jaapokkisubtract-regular.woff") format("woff"),
    url("fonts/jaapokkisubtract-regular.otf") format("opentype")
 
}

@font-face {
    font-family: "enchance Font";
    src:
    url("fonts/jaapokkienchance-regular.woff") format("woff"),
    url("fonts/jaapokkisubtract-regular.otf") format("opentype")
 
}


.navbar-brand{
    font-family: 'WeSchedule Font';
}

#section_name{
    font-family: 'WeSchedule Font';
}

.masthead-heading {
    font-family: 'enchance Font';
    padding-left: 30px;
}

.hs-bg-primary {
    background-color: #f35a5a;
}

#mainNav {
    background-color: rgb(12, 10, 10);
    border-color:white;
}

#mainNav .navbar-nav li.nav-item a.nav-link {
    border-bottom: 2px solid transparent;
    transition: border-bottom .2s, color .2s;
    margin-top: 10px;
    margin-bottom: 13px;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
    color: #f35a5a;
    border-color: #f35a5a;
}

#mainNav .navbar-nav li.nav-item a.nav-link.active {
    background: none;
    color: white;
    border-color: #f35a5a;
}

#mainNav .navbar-nav li.nav-item a.nav-link.active:hover {
    background: none;
    color:#f35a5a
}

.masthead-avatar{
    width: 180px;
    height: 250px; 
    border-radius: 50%;
}

.masthead {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

@media (min-width: 992px) {
    .masthead {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
}

.masthead{
    background-image: url("../img/try-this.webp");
    background-size: cover;
    background-repeat: none;
}

container{
    color:black;
}



h1{
    font-size: 100px;
    color: #fff;
   
}





/*ABOUT US*/
.section_name h2{
    color: white;
    font-weight: 700;
    font-size: 0.875rem;
}

.about-us h2 {
    font-size: 2.5rem;
    font-family: var(--heading-font);
    font-weight: 700;
}

.section_name p {
    color: blue;
}

.about-us p {
    color: #828282;
    margin: 0;
    padding-left: 8rem;
    padding-right: 4rem;
    font-size: 2rem;
}


.about-us img{
    border-radius: 20px;
    width: 65%;
}

/*INDEX SLIDERS*/
.slider-wrapper{
    position: relative;
    max-width: 58rem;
    margin: 0 auto;
    
}

.slider{
    display: flex;
   
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 20px;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
}

.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    
   
}

.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover{
    opacity: 1;
}


.carousel-inner img{
    width: 70%;
    height: 80%;
    
}

/*testing*/
@keyframes lights {
    0% {
      color: hsl(230, 40%, 80%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
    
    30% { 
      color: hsl(230, 80%, 90%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
    
    40% { 
      color: hsl(230, 100%, 95%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 90%, 0.5),
        -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
        0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
    }
    
    70% {
      color: hsl(230, 80%, 90%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
    
    100% {
      color: hsl(230, 40%, 80%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
    
  }
  

  
    h2 {
        margin: auto;
        font-size: 3.5rem;
        font-weight: 300;
        color: white;
        animation: lights 5s 750ms linear infinite;
    }
    


  @keyframes dark {
    0% {
      color: hsl(187, 79%, 28%);
      text-shadow:
        0 0 1em hsla(320, 52%, 67%, 0.2),
        0 0 0.125em hsla(320, 66%, 55%, 0.3),
        -1em -0.125em 0.5em hsla(40, 65%, 41%, 0),
        1em 0.125em 0.5em hsla(200, 75%, 76%, 0);
    }
    
    30% { 
      color: hsl(187, 79%, 28%);
      text-shadow:
        0 0 1em hsla(0, 0%, 94%, 0.5),
        0 0 0.125em hsla(320, 7%, 9%, 0.5),
        -0.5em -0.125em 0.25em hsla(30, 4%, 11%, 0.2),
        0.5em 0.125em 0.25em hsla(0, 0%, 0%, 0.4);
    }
    
    40% { 
      color: hsl(187, 79%, 33%);
      text-shadow:
        0 0 1em hsla(321, 16%, 44%, 0.5),
        0 0 0.125em hsla(320, 15%, 47%, 0.5),
        -0.25em -0.125em 0.125em hsla(41, 10%, 42%, 0.2),
        0.25em 0.125em 0.125em hsla(198, 15%, 34%, 0.4);
    }
    
    70% {
      color: hsl(187, 79%, 28%);
      text-shadow:
        0 0 1em hsla(320, 8%, 28%, 0.5),
        0 0 0.125em hsla(320, 100%, 78%, 0.5),
        0.5em -0.125em 0.25em hsla(40, 14%, 38%, 0.2),
        -0.5em 0.125em 0.25em hsla(200, 67%, 14%, 0.4);
    }
    
    100% {
      color: hsl(187, 79%, 28%);
      text-shadow:
        0 0 1em hsla(320, 100%, 30%, 0.2),
        0 0 0.125em hsla(320, 100%, 31%, 0.3),
        1em -0.125em 0.5em hsla(40, 89%, 31%, 0.801),
        -1em 0.125em 0.5em hsl(200, 51%, 44%);
    }
    
  }
  
  /*footer*/
  .footer-clean {
    padding:50px 0;
    background-color:rgb(0, 0, 0);
    color:#4b4c4d;
  }
  
  .footer-clean h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-clean ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-clean ul a {
    color: #fff;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-clean ul a:hover {
    opacity:1;
  }
  
  .footer-clean .item.social {
    text-align:right;
    color: #fff;
  }
  
  @media (max-width:767px) {
    .footer-clean .item {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  @media (max-width: 768px) {
    .footer-clean .item.social {
      text-align:center;
    }
  }
  
  .footer-clean .item.social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin-left:10px;
    margin-top:22px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-clean .item.social > a:hover {
    opacity:0.9;
  }
  
  @media (max-width:991px) {
    .footer-clean .item.social > a {
      margin-top:40px;
    }
  }
  
  @media (max-width:767px) {
    .footer-clean .item.social > a {
      margin-top:10px;
    }
  }
  
  .footer-clean .copyright {
    margin-top:14px;
    margin-bottom:0;
    font-size:13px;
    opacity:0.6;
  }



/* Schedule page */
* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

#SchedulePage {
  width: 100%;
  height: 100vh;
  background-color:#000;
  display:grid;
  place-items:center;
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

#SchedulePage img{
  width: 50%;
  height: 100%;
  object-fit:cover;
  
  -webkit-box-reflect:below 2px linear-gradient(transparent, transparent, #0004);
  
  transform-origin:center;
  transform:perspective(800px) rotateY(25deg);
  transition:0.5s;
}
.containerSchedule {
  max-width:700px;
  max-height:350px;
  display:flex;
  justify-content:center;
  align-items:center;
  gap:20px;
  place-items:center;
  
}
.containerSchedule:hover img {
  opacity:0.3;
}
.containerSchedule img:hover {
  transform:perspective(800px)  rotateY(0);     
  opacity:1;
}

/* background */
body{
  background-color: #121212;
}