#main {
    padding-top: 74px;
}

@media (min-width: 992px) {
    #main {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
}

@font-face {
    font-family: "WeSchedule Font";
    src:
    url("fonts/jaapokkisubtract-regular.woff") format("woff"),
    url("fonts/jaapokkisubtract-regular.otf") format("opentype")
 
}

@font-face {
    font-family: "enchance Font";
    src:
    url("fonts/jaapokkienchance-regular.woff") format("woff"),
    url("fonts/jaapokkisubtract-regular.otf") format("opentype")
 
}


.navbar-brand{
    font-family: 'WeSchedule Font';
}
.masthead-heading {
    font-family: 'enchance Font';
    padding-left: 30px;
}

.hs-bg-primary {
    background-color: #f35a5a;
}

#mainNav {
    background-color: rgb(12, 10, 10);
    border-color:white;
}

#mainNav .navbar-nav li.nav-item a.nav-link {
    border-bottom: 2px solid transparent;
    transition: border-bottom .2s, color .2s;
    margin-top: 10px;
    margin-bottom: 13px;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
    color: #f35a5a;
    border-color: #f35a5a;
}

#mainNav .navbar-nav li.nav-item a.nav-link.active {
    background: none;
    color: white;
    border-color: #f35a5a;
}

#mainNav .navbar-nav li.nav-item a.nav-link.active:hover {
    background: none;
    color:#f35a5a
}

.masthead-avatar{
    width: 180px;
    height: 250px; 
    border-radius: 50%;
}

.masthead {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

@media (min-width: 992px) {
    .masthead {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
}

.masthead{
    background-image: url("../img/bckgrnd2.png");
    background-size: cover;
    background-repeat: none;
}

container{
    color:black;
}