{% extends 'playground/base.html' %}



{% load static %}

{% block title%} About {% endblock %}

{% block content%}
</br>
</br>
<section class="about-us">
    <h1 style="font-size: 50px; font-family:  'enchance Font'">
        <center>ABOUT US</center>
    </h1>
</br>

    <div class="section_name">
        <div class="about-us__content"> 
            <h2><center>It's time to enhance our productivity!</center></h2>
            </br>
            <p> 
                WeSchedule is a revolutionary scheduling company that seeks to simplify the process of managing appointments and bookings. 
                Our mission is to make it easier for businesses and individuals to coordinate their schedules, so they can focus on what matters most.  
            </p>
            </br>
            <center><img src="{% static 'img/about_us2.webp' %}" alt="About us 1" /></center>
            </br>
            <p>
                With our innovative technology and streamlined process, we can provide a hassle-free scheduling experience. 
                Our motto is “Making Schedule Management Easy”, which reflects our commitment to providing a simple and efficient scheduling solution. 
            </p>
            </br>
            <center><img src="{% static 'img/about_us3.webp' %}" alt="About us 2" /></center>
            </br>
            <p>
                We are dedicated to helping our clients save time, reduce stress, and increase productivity. 
                We look forward to working with you!
            </p>
        </div>
        
    </div>
<section>


{% endblock %}
