{% extends 'playground/base.html' %}

{% block title%} Schedules {% endblock %}

{% load static %}

{% block content%}
</br>
</br>
<h1 style="font-size: 50px; font-family:  'enchance Font'"><center>
    YOUR SCHEDULES
</center>
</h1>
</br>

<body id="SchedulePage">
<section id-"Schedule-page">
    <div class="containerSchedule">
      <img src="{% static 'img/dec.jpg' %}" alt="">
      <img src= "{% static 'img/jan.jpg' %}" alt="">
      <img src= "{% static 'img/febb.jpg' %}" alt="">
    </div>
  </section>
</body>
  {% endblock %}