<div style="width: 1440px; height: 1024px; background-color: white; position: relative;">
    <div style="width: 1138px; height: 919px; padding-left: 16px; padding-right: 16px; padding-top: 22px; padding-bottom: 10px; left: 278px; top: 84px; position: absolute; background-color: rgba(217, 217, 217, 1); box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 15px; display: inline-flex; flex-direction: row; align-items: flex-end; justify-content: center;">
        <div style="width: 1106px; height: 887px; position: relative;">
            <div style="width: 1106px; height: 807px; left: 278px; top: 164px; position: absolute; background-color: white; border-radius: 15px; position: relative;">
                <div style="width: 50px; height: 50px; left: 29px; top: 34px; position: absolute; background-color: rgba(217, 217, 217, 1); border-radius: 9999px;"/>
                <div style="width: 50px; height: 50px; left: 29px; top: 134px; position: absolute; background-color: rgba(217, 217, 217, 1); border-radius: 9999px;"/>
                <div style="width: 50px; height: 50px; left: 29px; top: 234px; position: absolute; background-color: rgba(217, 217, 217, 1); border-radius: 8px;"/>
                <div style="width: 50px; height: 50px; left: 29px; top: 334px; position: absolute; background-color: rgba(217, 217, 217, 1); border-radius: 8px;"/>
                <div style="width: 973px; height: 50px; left: 110px; top: 34px; position: absolute; background-color: rgba(217, 217, 217, 1); border-radius: 15px;"/>
                <div style="width: 973px; height: 50px; left: 110px; top: 234px; position: absolute; background-color: rgba(217, 217, 217, 1); border-radius: 8px;"/>
                <div style="width: 973px; height: 442px; left: 110px; top: 334px; position: absolute; background-color: rgba(217, 217, 217, 1); border-radius: 8px;"/>
                <div style="width: 214px; height: 50px; left: 110px; top: 134px; position: absolute; background-color: rgba(217, 217, 217, 1); border-radius: 15px;"/>
                <div style="width: 127px; height: 50px; left: 355px; top: 134px; position: absolute; background-color: rgba(217, 217, 217, 1); border-radius: 15px;"/>
                <div style="width: 127px; height: 50px; left: 799px; top: 134px; position: absolute; background-color: rgba(217, 217, 217, 1); border-radius: 8px;"/>
                <div style="width: 214px; height: 50px; left: 554px; top: 134px; position: absolute; background-color: rgba(217, 217, 217, 1); border-radius: 8px;"/>
                <div style="width: 52px; height: 39px; left: 497px; top: 145px; position: absolute; background-color: rgba(127.50, 58.65, 68.85, 0.50); border-radius: 8px; border-style: solid; border-width: 10px; border-style: solid; border-color: rgba(134.13, 134.13, 134.13, 1);"/>
            </div>
            <div style="width: 110px; height: 37px; left: 1147px; top: 91px; position: absolute; background-color: rgba(168.94, 168.94, 168.94, 1); border-radius: 15px;"/>
            <div style="width: 110px; height: 37px; left: 1274px; top: 91px; position: absolute; background-color: white; border-radius: 15px;"/>
            <div style="width: 174px; height: 56px; left: 278px; top: 84px; position: absolute; background-color: rgba(189.13, 185.97, 185.97, 1);"/>
            <div style="width: 174px; height: 56px; left: 452px; top: 84px; position: absolute; background-color: rgba(235.88, 235.88, 235.88, 1);"/>
        </div>
    </div>
    <div style="width: 249px; height: 919px; left: 22px; top: 84px; position: absolute;">
        <div style="width: 249px; height: 919px; background-color: rgba(217, 217, 217, 1); border-radius: 15px; position: relative;">
            <div style="width: 232.04px; height: 89px; left: 8.14px; top: 64px; position: absolute; background-color: white; border-radius: 15px;"/>
            <div style="width: 232.04px; height: 89px; left: 8.14px; top: 172px; position: absolute; background-color: white; border-radius: 15px;"/>
            <div style="width: 232.04px; height: 89px; left: 8.14px; top: 280px; position: absolute; background-color: white; border-radius: 15px;"/>
            <div style="width: 232.04px; height: 89px; left: 8.14px; top: 388px; position: absolute; background-color: white; border-radius: 15px;"/>
            <div style="width: 232.04px; height: 89px; left: 8.14px; top: 496px; position: absolute; background-color: white; border-radius: 15px;"/>
            <div style="width: 232.04px; height: 89px; left: 8.14px; top: 604px; position: absolute; background-color: white; border-radius: 15px;"/>
            <div style="width: 232.04px; height: 89px; left: 8.14px; top: 712px; position: absolute; background-color: white; border-radius: 15px;"/>
            <div style="width: 232.04px; height: 89px; left: 8.14px; top: 820px; position: absolute; background-color: white; border-radius: 15px;"/>
            <div style="width: 41.39px; height: 61px; left: 18.32px; top: 78px; position: absolute; background-color: rgba(217, 217, 217, 1); border-radius: 9999px;"/>
            <div style="width: 41.39px; height: 61px; left: 18.32px; top: 186px; position: absolute; background-color: rgba(217, 217, 217, 1); border-radius: 9999px;"/>
            <div style="width: 41.39px; height: 61px; left: 18.32px; top: 294px; position: absolute; background-color: rgba(217, 217, 217, 1); border-radius: 9999px;"/>
            <div style="width: 41.39px; height: 61px; left: 18.32px; top: 402px; position: absolute; background-color: rgba(217, 217, 217, 1); border-radius: 9999px;"/>
            <div style="width: 41.39px; height: 61px; left: 18.32px; top: 510px; position: absolute; background-color: rgba(217, 217, 217, 1); border-radius: 9999px;"/>
            <div style="width: 41.39px; height: 61px; left: 18.32px; top: 618px; position: absolute; background-color: rgba(217, 217, 217, 1); border-radius: 9999px;"/>
            <div style="width: 41.39px; height: 61px; left: 18.32px; top: 726px; position: absolute; background-color: rgba(217, 217, 217, 1); border-radius: 9999px;"/>
            <div style="width: 41.39px; height: 61px; left: 18.32px; top: 834px; position: absolute; background-color: rgba(217, 217, 217, 1); border-radius: 9999px;"/>
            <div style="width: 232.04px; height: 32px; left: 8.14px; top: 13px; position: absolute; background-color: white; border-radius: 15px;"/>
        </div>
    </div>
    <div style="width: 1399px; height: 59px; left: 21px; top: 11px; position: absolute;">
        <div style="width: 1399px; height: 59px; padding-top: 6px; padding-bottom: 7px; padding-left: 25px; padding-right: 20px; background-color: rgba(217, 217, 217, 1); border-radius: 15px; display: flex; flex-direction: row; align-items: center; justify-content: flex-end;">
            <div style="width: 79px; height: 33px; background-color: white;"/>
            <div style="width: 528px;"/>
            <div style="width: 173px; height: 33px; background-color: white; border-radius: 10px;"/>
            <div style="width: 528px;"/>
            <div style="width: 46px; height: 46px; background-color: white; border-radius: 9999px;"/>
        </div>
    </div>
</div>