<div style="width: 1440px; height: 1024px; background-color: white; position: relative;">
    <div style="width: 1399px; height: 59px; padding-top: 6px; padding-bottom: 7px; padding-left: 25px; padding-right: 20px; left: 21px; top: 11px; position: absolute; background-color: rgba(217, 217, 217, 1); border-radius: 15px; display: inline-flex; flex-direction: row; align-items: center; justify-content: flex-end;">
        <div style="width: 79px; height: 33px; background-color: white;"></div>
        <div style="width: 528px;"></div>
        <div style="width: 173px; height: 33px; background-color: white; border-radius: 10px;"></div>
        <div style="width: 528px;"></div>
        <div style="width: 46px; height: 46px; background-color: white; border-radius: 9999px;"></div>
    </div>
    <div style="width: 249px; height: 919px; left: 22px; top: 84px; position: absolute;">
        <div style="width: 249px; height: 919px; background-color: rgba(217, 217, 217, 1); border-radius: 15px; position: relative;">
            <div style="width: 232.04px; height: 89px; left: 8.14px; top: 64px; position: absolute; background-color: white; border-radius: 15px;"></div>
            <div style="width: 232.04px; height: 89px; left: 8.14px; top: 172px; position: absolute; background-color: white; border-radius: 15px;"></div>
            <div style="width: 232.04px; height: 89px; left: 8.14px; top: 280px; position: absolute; background-color: white; border-radius: 15px;"></div>
            <div style="width: 232.04px; height: 89px; left: 8.14px; top: 388px; position: absolute; background-color: white; border-radius: 15px;"></div>
            <div style="width: 232.04px; height: 89px; left: 8.14px; top: 496px; position: absolute; background-color: white; border-radius: 15px;"></div>
            <div style="width: 232.04px; height: 89px; left: 8.14px; top: 604px; position: absolute; background-color: white; border-radius: 15px;"></div>
            <div style="width: 232.04px; height: 89px; left: 8.14px; top: 712px; position: absolute; background-color: white; border-radius: 15px;"></div>
            <div style="width: 232.04px; height: 89px; left: 8.14px; top: 820px; position: absolute; background-color: white; border-radius: 15px;"></div>
            <div style="width: 41.39px; height: 61px; left: 18.32px; top: 78px; position: absolute; background-color: rgba(217, 217, 217, 1); border-radius: 9999px;"></div>
            <div style="width: 41.39px; height: 61px; left: 18.32px; top: 186px; position: absolute; background-color: rgba(217, 217, 217, 1); border-radius: 9999px;"></div>
            <div style="width: 41.39px; height: 61px; left: 18.32px; top: 294px; position: absolute; background-color: rgba(217, 217, 217, 1); border-radius: 9999px;"></div>
            <div style="width: 41.39px; height: 61px; left: 18.32px; top: 402px; position: absolute; background-color: rgba(217, 217, 217, 1); border-radius: 9999px;"></div>
            <div style="width: 41.39px; height: 61px; left: 18.32px; top: 510px; position: absolute; background-color: rgba(217, 217, 217, 1); border-radius: 9999px;"></div>
            <div style="width: 41.39px; height: 61px; left: 18.32px; top: 618px; position: absolute; background-color: rgba(217, 217, 217, 1); border-radius: 9999px;"></div>
            <div style="width: 41.39px; height: 61px; left: 18.32px; top: 726px; position: absolute; background-color: rgba(217, 217, 217, 1); border-radius: 9999px;"></div>
            <div style="width: 41.39px; height: 61px; left: 18.32px; top: 834px; position: absolute; background-color: rgba(217, 217, 217, 1); border-radius: 9999px;"></div>
            <div style="width: 232.04px; height: 32px; left: 8.14px; top: 13px; position: absolute; background-color: white; border-radius: 15px;"></div>
        </div>
    </div>
    <div style="width: 1138px; height: 919px; left: 282px; top: 84px; position: absolute;">
        <div style="width: 1138px; height: 919px; background-color: rgba(217, 217, 217, 1); box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 15px; position: relative;">
            <div style="width: 246.45px; height: 271.40px; left: 302.85px; top: 30px; position: absolute; background-color: white; border-radius: 15px;"></div>
            <div style="width: 245.44px; height: 271.40px; left: 588.70px; top: 30px; position: absolute; background-color: white; border-radius: 15px;"></div>
            <div style="width: 246.45px; height: 269.15px; left: 302.85px; top: 328.43px; position: absolute; background-color: white; border-radius: 15px;"></div>
            <div style="width: 245.44px; height: 269.15px; left: 588.70px; top: 328.43px; position: absolute; background-color: white; border-radius: 15px;"></div>
            <div style="width: 246.45px; height: 271.40px; left: 302.85px; top: 624.60px; position: absolute; background-color: white; border-radius: 15px;"></div>
            <div style="width: 245.44px; height: 271.40px; left: 588.70px; top: 624.60px; position: absolute; background-color: white; border-radius: 15px;"></div>
            <div style="width: 245.44px; height: 271.40px; left: 876.56px; top: 30px; position: absolute; background-color: white; border-radius: 15px;"></div>
            <div style="width: 245.44px; height: 269.15px; left: 876.56px; top: 328.43px; position: absolute; background-color: white; border-radius: 15px;"></div>
            <div style="width: 245.44px; height: 271.40px; left: 876.56px; top: 624.60px; position: absolute; background-color: white; border-radius: 15px;"></div>
            <div style="width: 42.42px; height: 52.93px; left: 480.62px; top: 58.15px; position: absolute; background-color: rgba(217, 217, 217, 1); border-radius: 9999px;"></div>
            <div style="width: 195.95px; height: 136.26px; left: 327.09px; top: 122.34px; position: absolute; background-color: rgba(217, 217, 217, 1);"></div>
            <div style="width: 42.42px; height: 52.93px; left: 768.48px; top: 58.15px; position: absolute; background-color: rgba(217, 217, 217, 1); border-radius: 9999px;"></div>
            <div style="width: 195.95px; height: 136.26px; left: 614.96px; top: 122.34px; position: absolute; background-color: rgba(217, 217, 217, 1);"></div>
            <div style="width: 42.42px; height: 52.93px; left: 1054.33px; top: 58.15px; position: absolute; background-color: rgba(217, 217, 217, 1); border-radius: 9999px;"></div>
            <div style="width: 196.96px; height: 136.26px; left: 899.79px; top: 122.34px; position: absolute; background-color: rgba(217, 217, 217, 1);"></div>
            <div style="width: 42.42px; height: 52.93px; left: 480.62px; top: 363.34px; position: absolute; background-color: rgba(217, 217, 217, 1); border-radius: 9999px;"></div>
            <div style="width: 195.95px; height: 137.39px; left: 327.09px; top: 427.53px; position: absolute; background-color: rgba(217, 217, 217, 1);"></div>
            <div style="width: 42.42px; height: 52.93px; left: 768.48px; top: 363.34px; position: absolute; background-color: rgba(217, 217, 217, 1); border-radius: 9999px;"></div>
            <div style="width: 195.95px; height: 137.39px; left: 614.96px; top: 427.53px; position: absolute; background-color: rgba(217, 217, 217, 1);"></div>
            <div style="width: 42.42px; height: 52.93px; left: 1054.33px; top: 363.34px; position: absolute; background-color: rgba(217, 217, 217, 1); border-radius: 9999px;"></div>
            <div style="width: 196.96px; height: 137.39px; left: 899.79px; top: 427.53px; position: absolute; background-color: rgba(217, 217, 217, 1);"></div>
            <div style="width: 42.42px; height: 51.80px; left: 480.62px; top: 661.76px; position: absolute; background-color: rgba(217, 217, 217, 1); border-radius: 9999px;"></div>
            <div style="width: 195.95px; height: 138.51px; left: 327.09px; top: 724.83px; position: absolute; background-color: rgba(217, 217, 217, 1);"></div>
            <div style="width: 42.42px; height: 51.80px; left: 768.48px; top: 661.76px; position: absolute; background-color: rgba(217, 217, 217, 1); border-radius: 9999px;"></div>
            <div style="width: 195.95px; height: 138.51px; left: 614.96px; top: 724.83px; position: absolute; background-color: rgba(217, 217, 217, 1);"></div>
            <div style="width: 42.42px; height: 51.80px; left: 1054.33px; top: 661.76px; position: absolute; background-color: rgba(217, 217, 217, 1); border-radius: 9999px;"></div>
            <div style="width: 196.96px; height: 138.51px; left: 899.79px; top: 724.83px; position: absolute; background-color: rgba(217, 217, 217, 1);"></div>
            <img style="width: 245.44px; height: 271.40px; left: 16px; top: 30px; position: absolute; border-radius: 8px;" src="https://via.placeholder.com/245.4410858154297x271.39923095703125"/>
            <div style="width: 245.44px; height: 269.15px; left: 16px; top: 328.43px; position: absolute; background-color: rgba(127.50, 58.65, 68.85, 0.50); border-radius: 8px;"></div>
            <div style="width: 245.44px; height: 271.40px; left: 16px; top: 624.60px; position: absolute; background-color: rgba(127.50, 58.65, 68.85, 0.50); border-radius: 8px;"></div>
        </div>
    </div>
</div>