<div style="width: 1440px; height: 1024px; padding-top: 11px; padding-right: 20px; background-color: white; display: inline-flex; flex-direction: row; align-items: flex-end; justify-content: flex-start;">
    <div style="transform: rotate(-180deg); width: 239px; height: 58px; background-color: rgba(217, 217, 217, 1);">
        <div style="transform: rotate(-180deg); width: 239px; height: 58px; background-color: rgba(217, 217, 217, 1);"></div>
    </div>
    <div style="width: 18px;"></div>
    <div style="transform: rotate(-180deg); width: 804px; height: 58px; background-color: rgba(236.94, 236.94, 236.94, 1);"></div>
    <div style="width: 18px;"></div>
    <div style="transform: rotate(-180deg); width: 383px; height: 69px; background-color: rgba(232.94, 232.94, 232.94, 1); border-radius: 15px;"></div>
    <div style="width: 18px;"></div>
    <div style="transform: rotate(-180deg); width: 69px; height: 69px; background-color: rgba(217, 217, 217, 1); border-radius: 9999px;"></div>
    <div style="width: 18px;"></div>
    <div style="width: 1399px; height: 59px; padding-top: 6px; padding-bottom: 7px; padding-left: 25px; padding-right: 20px; background-color: rgba(217, 217, 217, 1); border-radius: 15px; display: flex; flex-direction: row; align-items: center; justify-content: flex-end;">
        <div style="width: 79px; height: 33px; background-color: white;"></div>
        <div style="width: 528px;"></div>
        <div style="width: 173px; height: 33px; background-color: white; border-radius: 10px;"></div>
        <div style="width: 528px;"></div>
        <div style="width: 46px; height: 46px; background-color: white; border-radius: 9999px;"></div>
    </div>
    <div style="width: 18px;"></div>
    <div style="width: 249px; height: 919px;">
        <div style="width: 249px; height: 919px; background-color: rgba(217, 217, 217, 1); border-radius: 15px; position: relative;">
            <div style="width: 232.04px; height: 89px; left: 8.14px; top: 64px; position: absolute; background-color: white; border-radius: 15px;"></div>
            <div style="width: 232.04px; height: 89px; left: 8.14px; top: 172px; position: absolute; background-color: white; border-radius: 15px;"></div>
            <div style="width: 232.04px; height: 89px; left: 8.14px; top: 280px; position: absolute; background-color: white; border-radius: 15px;"></div>
            <div style="width: 232.04px; height: 89px; left: 8.14px; top: 388px; position: absolute; background-color: white; border-radius: 15px;"></div>
            <div style="width: 232.04px; height: 89px; left: 8.14px; top: 496px; position: absolute; background-color: white; border-radius: 15px;"></div>
            <div style="width: 232.04px; height: 89px; left: 8.14px; top: 604px; position: absolute; background-color: white; border-radius: 15px;"></div>
            <div style="width: 232.04px; height: 89px; left: 8.14px; top: 712px; position: absolute; background-color: white; border-radius: 15px;"></div>
            <div style="width: 232.04px; height: 89px; left: 8.14px; top: 820px; position: absolute; background-color: white; border-radius: 15px;"></div>
            <div style="width: 41.39px; height: 61px; left: 18.32px; top: 78px; position: absolute; background-color: rgba(217, 217, 217, 1); border-radius: 9999px;"></div>
            <div style="width: 41.39px; height: 61px; left: 18.32px; top: 186px; position: absolute; background-color: rgba(217, 217, 217, 1); border-radius: 9999px;"></div>
            <div style="width: 41.39px; height: 61px; left: 18.32px; top: 294px; position: absolute; background-color: rgba(217, 217, 217, 1); border-radius: 9999px;"></div>
            <div style="width: 41.39px; height: 61px; left: 18.32px; top: 402px; position: absolute; background-color: rgba(217, 217, 217, 1); border-radius: 9999px;"></div>
            <div style="width: 41.39px; height: 61px; left: 18.32px; top: 510px; position: absolute; background-color: rgba(217, 217, 217, 1); border-radius: 9999px;"></div>
            <div style="width: 41.39px; height: 61px; left: 18.32px; top: 618px; position: absolute; background-color: rgba(217, 217, 217, 1); border-radius: 9999px;"></div>
            <div style="width: 41.39px; height: 61px; left: 18.32px; top: 726px; position: absolute; background-color: rgba(217, 217, 217, 1); border-radius: 9999px;"></div>
            <div style="width: 41.39px; height: 61px; left: 18.32px; top: 834px; position: absolute; background-color: rgba(217, 217, 217, 1); border-radius: 9999px;"></div>
            <div style="width: 232.04px; height: 32px; left: 8.14px; top: 13px; position: absolute; background-color: white; border-radius: 15px;"></div>
        </div>
    </div>
    <div style="width: 18px;"></div>
    <div style="width: 1138px; height: 919px; background-color: rgba(217, 217, 217, 1); box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); border-radius: 15px; position: relative;">
        <div style="width: 1091px; height: 57px; left: 27px; top: 21px; position: absolute; background-color: white; border-radius: 15px;"></div>
        <div style="width: 1091px; height: 786px; left: 27px; top: 109px; position: absolute; background-color: white; border-radius: 15px;"></div>
        <div style="width: 69px; height: 69px; left: 52px; top: 131px; position: absolute; background-color: rgba(217, 217, 217, 1); border-radius: 9999px;"></div>
        <div style="width: 382px; height: 69px; left: 146px; top: 131px; position: absolute; background-color: rgba(232.94, 232.94, 232.94, 1); border-radius: 15px;"></div>
        <div style="width: 69px; height: 69px; left: 52px; top: 253px; position: absolute; background-color: rgba(217, 217, 217, 1); border-radius: 9999px;"></div>
        <div style="width: 500px; height: 69px; left: 146px; top: 253px; position: absolute; background-color: rgba(232.94, 232.94, 232.94, 1); border-radius: 15px;"></div>
        <div style="width: 69px; height: 69px; left: 52px; top: 497px; position: absolute; background-color: rgba(217, 217, 217, 1); border-radius: 9999px;"></div>
        <div style="width: 566px; height: 69px; left: 146px; top: 497px; position: absolute; background-color: rgba(232.94, 232.94, 232.94, 1); border-radius: 15px;"></div>
        <div style="width: 69px; height: 69px; left: 52px; top: 619px; position: absolute; background-color: rgba(217, 217, 217, 1); border-radius: 9999px;"></div>
        <div style="width: 450px; height: 69px; left: 146px; top: 619px; position: absolute; background-color: rgba(232.94, 232.94, 232.94, 1); border-radius: 15px;"></div>
        <div style="width: 46px; height: 46px; left: 1031px; top: 815px; position: absolute; background-color: white; border-radius: 9999px;"></div>
        <div style="width: 685px; height: 30px; left: 319px; top: 823px; position: absolute; background-color: white; border-radius: 15px;"></div>
    </div>
</div>